<mat-toolbar class="basic-container">
    
     <!-- <span class="content-style">Hi there, I am Mohan Shobana.<br/> I am a Full Stack Web Developer. <br/> Studying Data Science Khoury College @ Northeastern University.</span> -->
     
    <mat-toolbar-row>
        <!-- <span>
            <img src="././assets/Me.jpg" width="400" alt="Oops, Missing Image file!"> 
        </span>  -->
        
        <mat-card class="content-style">Hi there! I am Mohan Shobana.</mat-card>
    </mat-toolbar-row>
    
    <mat-toolbar-row>
        <mat-card class="content-style2">Please scroll to see my work :)</mat-card>
    </mat-toolbar-row>
    
    <mat-toolbar-row>
        <a class="scroll-style" href="/"><span class="material-icons md-light">keyboard_arrow_down</span></a>
    </mat-toolbar-row>
</mat-toolbar>
