<div>
    <h1 class="text-center font-weight-bold bg-blue text-white p-3 mb-2 ">About</h1>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-sm-3">
        <div>
            <img src="././assets/ME2.jpg" class="card-img-top" alt="oops! image not available">
        </div>
    </div>
    <div class="col-sm-5 text-monospace">
        <div class="card mb-2">
            <div class="card-body md-4 font-weight-bold">
                Hey there, I am Shobana. I am from India. 
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body font-weight-bold">
                Currently situated in Boston, Massachussets.
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body font-weight-bold">
                Pursuing Masters in Computer Science, Khoury College of Computer Sciences @ Northeastern University.
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body font-weight-bold">
                Experience of 3.5 years Infosys and Intel Corporation.
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body font-weight-bold">
                Available for CPT/internship from January 2021 - August 2021.
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body font-weight-bold">
                Skilled Backend Developer and Front End Developer with knowledge in Algorithms, Data Structures, System Design, DevOps & Web Development. I am right now building varied projects like Mazes and Web Crawlers.
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body font-weight-bold">
                Something Interesting about me... I love knock kock jokes! Ask me one.
            </div>
        </div>
    </div>
</div>
<hr><hr>
<div>
    <h1 class="text-center font-weight-bold bg-blue text-white p-3 mb-2 ">Skills</h1>
</div>
<div>
    <h1 class="text-left p-3 mb-2 ">Languages</h1>
</div>
<div class="row">
    
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">Java</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">Python</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">Typescript</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">R</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">C#</div>
        </div>
    </div>
</div>
<div>
    <h1 class="text-left p-3 mb-2">Databases:</h1>
</div>
<div class="row">
    
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">Oracle</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">MySQL</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">PostgreSQL</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">ELK</div>
        </div>
    </div>
</div>
<div>
    <h1 class="text-left p-3 mb-2">Frameworks:</h1>
</div>
<div class="row">
    
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">Angular</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">Spring / Springboot</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">JPA / Hibernate</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">Bootstrap</div>
        </div>
    </div>
</div>
<div>
    <h1 class="text-left p-3 mb-2">Tools:</h1>
</div>
<div class="row">
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">GIT</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">SVN</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">Jenkins (CLI, UI, DSL)</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">Maven / Ant</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">SonarQube</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body font-weight-bold">Selenium</div>
        </div>
    </div>
</div>
<hr/><hr/>