<div>
    <h1 class="text-center font-weight-bold bg-primary text-white p-3 mb-2 ">About</h1>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="card">
            <img src="https://media.giphy.com/media/l4FGzBQvQsudFtTeU/giphy.gif" class="card-img-top" alt="Hi!"/>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img src="././assets/ME2.jpg" class="card-img-top" alt="oops! image not available">
        </div>
    </div>
    <div class="col-sm-5 text-monospace">
        <div class="card">
            <div class="card-body md-4">
                Hey there, I am Shobana. I am from India. 
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Currently situated in Boston, Massachussets.
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Pursuing Masters in Data Science, Khoury College of Computer Sciences @ Northeastern University.
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Experience of 3.5 years.
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Available for CPT/internship from January 2021 - August 2021.
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Passionate about exploring data, finding inference & patterns, building models and finding solutions for problems in data science field. <br/>In particular, its not just about the modelling but creating an entire software product which can packaged and given as a solution that interests me.
            </div>
        </div>
    </div>
</div>
<div>
    <h1 class="text-center font-weight-bold p-3 mb-2 ">Skills</h1>
</div>
<div>
    <h1 class="text-left p-3 mb-2 ">Languages</h1>
</div>
<div class="row">
    
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">R</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">Python</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">Angular/Typescript</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">Java</div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">C#</div>
        </div>
    </div> 
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">Spring/Springboot</div>
        </div>
    </div>
</div>
<div>
    <h1 class="text-left p-3 mb-2">Databases:</h1>
</div>
<div class="row">
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">Oracle</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">MySQL</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">PostgreSQL</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">Java</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">C#</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">JavaScript</div>
        </div>
    </div>  
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">Spring/Springboot</div>
        </div>
    </div>
</div>
<hr/><hr/>