<mat-toolbar>
  
  <mat-toolbar-row>

    <!-- <button fxShow="true" fxHide.gt-sm="true" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
    
    <mat-card fxShow="true" fxHide.lt-md="true" class="card-style">About</mat-card>

    <span class="fill-space"></span>

    <mat-card fxShow="true" fxHide.lt-md="true" class="card-style">Work Experience</mat-card>

    <span class="fill-space"></span>

    <mat-card fxShow="true" fxHide.lt-md="true" class="card-style">Projects</mat-card>

    <span class="fill-space"></span>

    <mat-card fxShow="true" fxHide.lt-md="true" class="card-style">Contact Information</mat-card>

  </mat-toolbar-row>
    
  </mat-toolbar>
  