mat-toolbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: midnightblue;
}

.card-style{
    top:20px;
    background-color: lightsteelblue;
    padding: 20px 60px;
}

.fill-space{
    width: 10px;
} 